#!/bin/bash

BALENA_ENGINE=/usr/local/bin/balena-engine

cdn_ideascube=`avahi-resolve-host-name {{local_cache_server}} | awk -F " " '{print $2}'`

if expr "$cdn_ideascube" : '[0-9][0-9]*\.[0-9][0-9]*\.[0-9][0-9]*\.[0-9][0-9]*$' >/dev/null;
then
  $BALENA_ENGINE exec api sh -c 'LANG=C.UTF-8 grep -q '$cdn_ideascube' /etc/hosts || echo '$cdn_ideascube' s3.eu-central-1.wasabisys.com >> /etc/hosts'
  $BALENA_ENGINE inspect --format='{% raw %}{{index .State.Pid}}{% endraw %}' api > /var/run/olip-api.pid
else
  last_olip_api_pid=`cat /var/run/olip-api.pid 2> /dev/null || echo 0`
  current_olip_api_pid=`$BALENA_ENGINE inspect --format='{% raw %}{{index .State.Pid}}{% endraw %}' api`

  [ $last_olip_api_pid -eq $current_olip_api_pid ] && $BALENA_ENGINE restart api
fi
